.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.home-search {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 700px;
  margin-left : -350px;
}

.or {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100px;
  margin-left : -50px;
}

.walk {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 200px;
  margin-left : -100px;
}