<leaflet lf-center="center" defaults="defaults" height="100%" width="100%"></leaflet>

<div class="home-search">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-input-container md-no-float class="md-block" style="padding-top: 20px">
        <input ng-model="user.phone" type="text" placeholder="Trouver un film">
      </md-input-container>

      <span flex></span>
      <md-button class="md-raised" aria-label="Rechercher" ng-click="showMovieDetail()">
        Rechercher
      </md-button>
    </div>
  </md-toolbar>
</div>

<div class="or">
  <h1>Soit ...</h1>
</div>

<div class="walk">
  <md-button class="md-raised">Je me balade !</md-button>
</div>