<leaflet lf-center="center" height="100%" width="100%"></leaflet>

<div class="home-search">

  <!--<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <div layout="column" ng-cloak class="md-inline-form">
        <md-input-container class="md-icon-float md-block">
          <label>Name</label>
          <ng-md-icon icon="search" style="fill: grey" size="24"></ng-md-icon>
          <input ng-model="user.name" type="text">
        </md-input-container>
        <md-button class="md-raised" aria-label="Learn More">
          Learn More
        </md-button>
      </div>
    </div>
  </md-toolbar>-->

  <md-toolbar>
    <div class="md-toolbar-tools">
      <!--<md-button aria-label="Go Back">
        Go Back
      </md-button>

      <md-truncate style="position: absolute; left: 90px; right: 170px; top: 13px; bottom: 13px;">Toolbar with Standard Buttons</md-truncate>-->

      <md-input-container md-no-float class="md-block" style="padding-top: 20px">
        <input ng-model="user.phone" type="text" placeholder="Trouver un film">
      </md-input-container>


      <span flex></span>
      <md-button class="md-raised" aria-label="Learn More">
        Rechercher
      </md-button>
    </div>
  </md-toolbar>
</div>