<md-toolbar>
    <div class="md-toolbar-tools">
        <md-truncate flex="30"><a ui-sref="home">Movies & Places -- We Love ! </a></md-truncate>
        <md-input-container flex="40" md-no-float class="md-block" style="padding-top: 20px">
            <input ng-model="user.phone" type="text" placeholder="Trouver un film">
        </md-input-container>

        <md-button class="md-raised" aria-label="Rechercher" ng-click="showMovieDetail()">
            Rechercher
        </md-button>
    </div>
</md-toolbar>

<div layout="row" layout-fill>
    <div flex="80">
        <leaflet lf-center="center" markers="markers" height="100%" width="100%"></leaflet>
    </div>
    <div flex="20">
        <md-content layout-padding>
            <ui-view></ui-view>
        </md-content>
    </div>
</div>